<!DOCTYPE html>
<html>
  <head>
     <title>FoodGenius</title>
     <style>
        body {
          padding-top: 80px;
        }
     </style>
   </head>
   <body>
       <a href="/">FoodGenius</a>
     <ul>
       <li><a href="/">Home</a></li>
       <li><a href="{% url "create" %}">Generate post</a></li>
       <li><a href="{% url "list" %}?all_posts">View All Posts</a></li>
         </ul>
     <div>
        {% include "messages.html" %}
          {% block content %}{% endblock %}
     </div>
   </body>
</html>
